h1= title
ul
  li
    a(href='/admin/new') New Entry 
  li
    a(href='/admin/show') Show all Entry 
  li
    a(href='/admin/edit/:id') Edit a single entry
  li
    a(href='/admin/delete/:id') Delete a entry
